@model AdvertisingERP.Models.Home
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login</title>
    <!-- loader-->
   
    <script src="~/assets/js/pace.min.js"></script>
    <!--favicon-->
    <link rel="icon" href="~/AdminCss/assets/images/favicon-32x32.png" type="image/png" />
    <!-- Bootstrap core CSS-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Custom Style-->
    <link href="~/assets/css/app-style.css" rel="stylesheet" />
    <!--Style-->
    <link href="~/assets/css/style.css" rel="stylesheet" />

</head>
<body class="bg-theme bg-theme1">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "signupForm", enctype = "multipart/form-data" }))
    {
        <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner"><div class="loader"></div></div></div></div>
    <!-- end loader -->
    <!-- Start wrapper-->
        <div id="wrapper">
            <div class="loader-wrapper"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
            <div class="card card-authentication1 mx-auto my-5">
                <div class="card-body">
                    <div class="card-content p-2">
                        <div class="text-center">
                            <img src="~/assets/images/footer_logo.png" alt="logo icon" style="width: 129px;">
                        </div>
                        <div class="card-title text-uppercase text-center py-3">Sign In</div>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputUsername" class="sr-only">Username</label>
                                <div class="position-relative has-icon-right">
                                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Enter Login ID" })

                                    <div class="form-control-position">
                                        <i class="icon-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword" class="sr-only">Password</label>
                                <div class="position-relative has-icon-right">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password" })

                                    <div class="form-control-position">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                @*<div class="form-group col-6">
                                    <div class="icheck-material-white">
                                        <input type="checkbox" id="user-checkbox" checked="" />
                                        <label for="user-checkbox">Remember me</label>
                                    </div>
                                </div>*@
                                @*<div class="form-group col-6 text-right">
                                    <a href="/Home/ForgetPassword">Reset Password</a>
                                </div>*@
                            </div>
                            <br />
                            <input type="submit" class="btn btn-light btn-block" value="Login" name="btnlogin" onclick="return Validation();" />
                        </form>
                    </div>
                </div>

            </div>

            <!--Start Back To Top Button-->
            <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
            <!--End Back To Top Button-->

        </div><!--wrapper-->
    }

    <!-- Bootstrap core JavaScript-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- sidebar-menu js -->
    <script src="~/assets/js/sidebar-menu.js"></script>

    <!-- Custom scripts -->
    <script src="~/assets/js/app-script.js"></script>
    <script>
        function Validation() {
            debugger;
            $("#divload").css({ 'display': 'none' });
            $(".errortext").removeClass("errortext");

            if ($('#LoginId').val() == '') {
                $('#LoginId').addClass('errortext');
                $('#LoginId').focus();
                return false;
            }
            if ($('#Password').val() == ''){
                $('#Password').addClass('errortext');
                $('#Password').focus();
                return false;
            }

    }
    </script>
    <style>
        .errortext {
            border: 1px solid red !important;
            background-color: red;
        }
    </style>
</body>
